<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">  
  <display-name>Social</display-name>  
  
  
  <servlet>
		<servlet-name>googleController</servlet-name>
		<servlet-class>com.deepak.social.google.GoogleServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>googleController</servlet-name>
		<url-pattern>/googleAuth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>oauth2callback</servlet-name>
		<servlet-class>com.deepak.social.google.GoogleAuthServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>oauth2callback</servlet-name>
		<url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>
  
</web-app>   

